h1{
text-align:center; font-size: 50px;
 background-color: ;
 font-family: 'Bookman Old Style';
border: 2px solid #deb887;
  border-radius: 100px;
background-color:#deb887;
width:500px;
transform: translate(100%,0%);
}

.lyout2{ 
text-align:center; font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
#modulo{
font-size:50px;
}
body{
background-color:#fafad2;

}
#modulo{
	width:300px;
	padding:40px;
	position: absolute;
	
	margin-left:575px;
	background: #deb887;
	text-align:center;
	border-radius: 100px;
}
#modulo button[type="submit"]{
	border:0;
	background-image: url("SF.jpg");
	display:block;
	margin: 10px auto;
	
	border: 2px solid #fafad2;
	
	text-align:center; 
	padding: 14px 40px;
	width:200px;
	outline: none;
	color: black;
	border-radius:24px;
	transition:0.25s;
	cursor:pointer;
}
#modulo button[type="submit"]:hover{
	background:#2e8b57;
	border: 2px solid #2e8b57;
}
#modulo input[type="text"],#modulo input[type="password"],#modulo input[list="regioni"]{
	border:0;
	background-image: url("SF.jpg");
	display:block;
	margin: 2px auto;
	border: 2px solid #fafad2;
	text-align:center; 
	padding: 14px 10px;
	width:200px;
	outline: none;
	color: black;
	border-radius:24px;
	transition:0.25s;
	
}
#modulo input[type="text"]:focus,#modulo input[type="password"]:focus{
	
	width:280px;
	border-color: #2e8b57;
}
::placeholder {
	color: black;
}
nav{
	background-color: #deb887;
	color: white;

}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
nav li a{
	text-decoration: none;
	color: black;
}
nav li:hover{
	background-color: #fafad2;
	
}
.dropdown-content a:hover{
	background-color: #fafad2;
}
nav li{
	display: inline-block;
	padding: 15px;
}
.dropdown-content{
	position: absolute;
	background-color: #deb887;
	margin-top: 15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
}
.dropdown{
	text-align: center;
	padding: 14px 16px;
}
nav li:hover .dropdown-content{ 
 display: block;
}
.dropdown-content a{
	display: block;
	padding: 15px;
}
p{
font-family: Palatino Linotype;
}